<!-- Navbar -->
<nav
  class="main-header mainHeader navbar navbar-expand navbar-white navbar-light {{ layoutNavigationTop?'content-wrapper-left': ''}}"
  style="padding-right:30px">
  <div class="max__content">
    <!-- Left navbar links -->
    <ul class="navbar-nav" style="display: none;">
      <li class="nav-item dropdown2">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link"><i class="fa fa-home"></i></a>
      </li>
      <li class="nav-item dropdown dropdown2">
        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          class="nav-link dropdown-toggle"><i class="fa fa-cog"></i> Definições</a>
        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow" style="left: 0px; right: inherit;">
          <li><a routerLink="/cliente/dados-pessoais" class="dropdown-item"><i class="fa fa-folder-open"></i> Dados
              Pessoais </a></li>
          <li><a routerLink="/cliente/conta-corrente" routerLinkActive="active" class="dropdown-item"><i
                class="fa fa-cc"></i> Conta Corrente </a></li>
          <li><a routerLink="/cliente/minhas-contas" routerLinkActive="active" class="dropdown-item"><i
                class="fa fa-folder"></i> Minhas Contas/Serviços </a></li>
          <li>
            <a routerLink="/cliente/carregamentos-saldo" routerLinkActive="active" class="dropdown-item"><i
                class="fa fa-folder"></i> Carregamentos Saldo</a>
          </li>
          <li>
            <a  routerLink="/cliente/compras" routerLinkActive="active" class="dropdown-item"><i class="fa fa-shopping-cart"></i>  Histórico Compras</a>
          </li>         
        </ul>
      </li>

      <li class="nav-item dropdown dropdown2">
        <a routerLink="/facturas" routerLinkActive="active" class="nav-link"><i class="fa fa-folder-open"></i>
          Facturas</a>
      </li>
      <li class="nav-item dropdown dropdown2">
        <a routerLink="/cliente/saldo-carteira" routerLinkActive="active" class="nav-link"><i class="fa fa-dollar"></i>
          Saldo Carteira</a>
      </li>
      <li class="nav-item dropdown dropdown2">
        <a routerLink="/lojas" routerLinkActive="active" class="nav-link"><i class="fa fa-map"></i>&nbsp;Lojas</a>
      </li>

    </ul>

    <!-- SEARCH FORM -->

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto mainHeader__ul" *ngIf="this.authenticated.isLoggedIn">

      <!-- <li id="input-form" class="nav-item dropdown mainHeader_item"> -->
        <!-- <a class="nav-link nav-header" data-toggle="dropdown" href="#" aria-expanded="true"> -->
        <!-- <div class="user__icone3"> -->
        <!-- <div class="input-box-group" style="padding: 0; width: 100% !important;">
                <div class="" style="width: 100% !important;display: flex; align-items: center; justify-content: space-between;"> -->
        <!-- <input type="text" class="inputBox" placeholder="{{'navbar.pesquisarplasholder'|translate}}..."> -->
        <!-- <i class="fas fa-search"></i> -->
        <!-- </div>
              </div> -->
        <!-- </div> -->
        <!-- </a> -->
      <!-- </li> -->

      <li id="input-form-icon" class="nav-item dropdown mainHeader_item">
        <a class="nav-link nav-header" data-toggle="dropdown" href="#" aria-expanded="true">
          <div class="user__icone2">
            <img class="image" src="../../../../assets/img/search-alt.png">
          </div>
        </a>
      </li>

      <li class="nav-item dropdown mainHeader_item">
        <a class="nav-link nav-header" data-toggle="dropdown" href="#" aria-expanded="true">
          <div class="user__icone2">
            <img class="image" src="../../../../assets/img/alert.png">
          </div>
        </a>
        <div class="dropdown-menu menu-item2 dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
          <span class="dropdown-item dropdown-header">15 Notificações</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>

      <!-- <li class="nav-item dropdown mainHeader_item">
        <a class="nav-link nav-header" data-toggle="dropdown" href="#" aria-expanded="true">
          <div class="user__icone2">
            <img *ngIf="isOnline" class="image" src="../../../../assets/img/network-wireless-on.png">
            <img *ngIf="!isOnline" class="image" src="../../../../assets/img/network-wireless.png">
          </div>
        </a>
      </li> -->

      <!-- <li class="nav-item dropdown mainHeader_item">
        <a class="nav-link nav-header" data-toggle="dropdown" href="#" aria-expanded="true">
          <div class="user__icone2">
            <img class="image" src="../../../../assets/img/light-bulb.png">
          </div>
        </a>
      </li> -->

      <li class="nav-item dropdown mainHeader_item">
        <a class="nav-link nav-header" data-toggle="dropdown" href="#">
          <span class=" user__icone">
            <h2 class="user-avatar-slug">{{userData?.user?.name.charAt(0)}}</h2>
          </span>
        </a>
        <div class="dropdown-menu menu-item3 dropdown-menu-lg dropdown-menu-right"
          style="border-radius: 3px;padding: 0;">
          <span class="dropdown-item dropdown-header" style="background: #22283a;color: #dad7d7;padding: 25px 20px;">
            <div class="image"><img class="image-user" src="../../../../assets/img/avatar5.png"></div>

          </span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            {{ this.authenticated.user.name }}
          </a>
          <div class="dropdown-divider"></div>
          <a routerLink="/cliente/dados-pessoais" class="dropdown-item">
            <i class="icon-user mr-2"></i>   {{'navbar.meuperfil'|translate}}
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item" data-toggle="modal" data-target="#modalRegistarRedefinirPasswordUserLogado">
            <i class="icon-note mr-2"></i>   {{'navbar.alterarpassword'|translate}}
          </a>
          <a href="#" class="dropdown-item" style="background: #ecf0f5;" data-slide="true"
            (click)="this.authenticated.logout()">
            <i class="icon-login mr-2"></i>   {{'navbar.terminarsessao'|translate}}
          </a>
        </div>
      </li>

      <li class="nav-item dropdown mainHeader_item">
        <a class="nav-link nav-header" data-toggle="dropdown" href="#">
          <!-- <span class="">
            <img class="icon-flag" [src]="caminho+flag+'.png'">
          </span> -->
          <span style="color: white;">PT</span>
        </a>
        <div class="dropdown-menu menu-item3 dropdown-menu-lg dropdown-menu-right"
          style="border-radius: 3px;padding: 0;">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="Translate('pt')">
            Português
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="Translate('en')">
            Inglês
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="Translate('es')">
            Espanhol
          </a>
        </div>
      </li>


    </ul>
  </div>
</nav>

<!-- /.navbar -->

<!-- <app-redefinir-password-user-logado [is_modal]="true" [user]="this.authenticated.user"></app-redefinir-password-user-logado> -->